body {
    background-color: #303030;
    font-family:'Montserrat-Regular', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
}

.toolbar--material__center {
    font-family:'Montserrat-Regular', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
}
p {
    font-family:'Montserrat-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
}
.button-margin {
    margin: 6px 0!important;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.grey {
    background-color: grey;
}

.txt_versiculo {
    margin-right: 15px;
}

.alert-dialog {
    width: 100%!important;
}