#tituloApp, .tabbar__label {
    color: #303030!important;
    text-align: left;
}

.toolbar--material__center {
    color: #303030!important;
}

ons-card {
    color: #303030!important;
}

.toolbar--material__center {
    color: #303030!important;
}

#versaoBiblia {
    color: #303030;
}